<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{ pageTitle }}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['Home']">Home</a></li>
                <li><a [routerLink]="['GolfClubList']">Golf Clubs</a></li>
                <li><a [routerLink]="['Golfers']">Golfers</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>