<h1>{{ pageTitle }}</h1>
<p>The list of golf courses entered into the system.</p>
<div class="row">
    <div [ngClass]="{'col-md-7':shortTable, 'col-md-12':!shortTable}">
        <table class="table">
            <thead>
                <tr>
                    <th>Golf Club</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let golfclub of golfclubs; let idx = index">
                    <td>{{ golfclub.Name }}</td>
                    <td>{{ golfclub.Location }}</td>
                    <td><button (click)="showGolfCoursesTable(golfclub)" *ngIf="golfclub.GolfCourses">Courses <span class="badge">{{ golfclub.GolfCourses.length }}</span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [ngClass]="{'col-md-5':shortTable}">
        <!-- The Table showing the golf courses for the selected golf club, to add tees. -->
        <golfcourses-for-golfclub [golfclub]="golfclub" [isVisible]="golfCoursesTableIsVisible" (close)="onGolfCoursesPanelClose()"></golfcourses-for-golfclub>
    </div>
</div>