<div class="panel panel-primary" *ngIf="isVisible">
    <div class="panel-heading">
        <h3 class="panel-title">Golf Courses for {{ golfclub.Name }}</h3>
        <span class="glyphicon glyphicon-remove-sign panel-close-button" (click)="closeCoursesPanel()"></span>
    </div>
    <div class="panel-body">
        <div *ngFor="let gc of golfclub.GolfCourses; let idx = index">
            <div class="row tee-row">
                <div class="col-md-9">
                    <h3>{{ gc.Name }}</h3>
                </div>
                <div class="col-md-3 text-right">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Par</th>
                                <th>Length</th>
                                <th>Slope</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tee of gc.Tees; let i = index">
                                <td>{{ tee.TeeName }}</td>
                                <td>{{ tee.Gender }}</td>
                                <td>{{ tee.Par }}</td>
                                <td>{{ tee.Length }}</td>
                                <td>{{ tee.Slope }}</td>
                                <td>{{ tee.Rating }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>