<div class="panel panel-info" *ngIf="isVisible">
    <div class="panel-heading">
        <h3 class="panel-title">{{ dialogTitle }} Tee for {{ golfclub.Name }} - {{ golfcourse.Name }}</h3>
    </div>
    <div class="panel-body">
        <form class="tee-form" name="teeform" #teeform="ngForm" novalidate (ngSubmit)="saveTee(teeform.valid, golfclub, golfcourse, tee)">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control" required [(ngModel)]="tee.TeeName" name="TeeName" />
                </div>
                <div class="form-group col-md-6">
                    <label>Gender</label>
                    <select class="form-control" name="Gender" [(ngModel)]="tee.Gender">
                                <option value="Mens">Men's</option>
                                <option value="Ladies">Ladies</option>
                            </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Length</label>
                    <input type="number" name="Length" class="form-control" required [(ngModel)]="tee.Length" name="Length" />
                </div>
                <div class="form-group col-md-6">
                    <label>Par</label>
                    <input type="number" name="Par" class="form-control" required [(ngModel)]="tee.Par" name="Par" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Slope</label>
                    <input type="number" name="Slope" class="form-control" required [(ngModel)]="tee.Slope" name="Slope" />
                </div>
                <div class="form-group col-md-6">
                    <label>Rating</label>
                    <input type="text" name="Rating" class="form-control" [(ngModel)]="tee.Rating" name="Rating" />
                </div>
            </div>
            <button type="submit" [disabled]="!teeform.valid" class="btn btn-primary">{{ dialogTitle }} Tee</button>
            <a type="button" class="btn btn-default" (click)="cancelTeeForm()">Cancel</a>
        </form>
    </div>
</div>