<h2>{{pageTitle}}</h2>
<p>This is an Angular 2 real-world application ported from the original Angular 1 application.</p>
<h3>The Architecture</h3>
<ul>
    <li><b>UI</b> - light-weight Angular 2 framework</li>
    <li><b>Data</b> - the application is flexible to handle different data stores.  The Angular services point to RESTful endpoints for data.  
    Currently it is setup to use either Azure DocumentDB or MongoDB.</li>
</ul>
<h4>Update - as of 7/28/2016</h4>
<p>This application has been updated to 2.0.0-rc.4.</p>