<h2>{{pageTitle}}</h2>
<p>This is an Angular 2 real-world application ported from the original Angular 1 application that can use Azure DocumentDB or MongoDB out of the box.</p>
<p>The Golf Tracker application allows golfers to track their scores as they play golf.</p>
<h3>Directions</h3>
<ol>
    <li><b>Golf Clubs</b> - first enter the golf clubs, courses and tees.</li>
    <li><b>Manage Golfers</b> - then enter a golfer</li>
    <li><b>Add Round</b> - and finally add a round of golf for the golfer</li>
</ol>
<h3>The Architecture</h3>
<ul>
    <li><b>UI</b> - light-weight Angular 2 framework</li>
    <li><b>Data</b> - the application is flexible to handle different data stores.  The Angular services point to RESTful endpoints for data.  
    Currently it is setup to use either Azure DocumentDB or MongoDB.</li>
</ul>
<h4>Updates</h4>
<ul>
    <li><b>8/5/2016</b> - extracted the embedded HTML into their own components to be used as directives in the main HTML.</li>
    <li><b>7/28/2016</b> - This application has been updated to 2.0.0-rc.4.</li>
</ul>
<h4>System Requirements</h4>
<ul>
    <li>NodeJs and NPM</li>
    <li>Either MongoDB or Azure DocumentDB</li>
</ul>